/*new, edit list*/
#container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#new-list-wrapper {
  flex-grow: 1;
  background-color: #fff;
  padding: 0 2rem 2rem 2rem;
}

#new-list-wrapper > div {
  margin: 2rem 0;
}
.new-list-heading {
  font-weight: 700;
  margin-top: 0;
  size: 100%;
}

.radio-buttons {
  color: rgb(91, 224, 58);
  outline-color: var(--color-blue);
  background-color: white;
}

.text-fieldz {
  background-color: var(--color-blue-light);
  border: none;
  border-radius:10px;
  width: 40%;
  max-width: 40%;
  height: 1.5rem;
  padding: 2px 15px;
  color: var(--color-blue-middle);
  margin: 0.5rem 0 0 0;
}

.pgrey {
  color: var(--color-blue-middle);
  font-size: 90%;
}

.members-div {
  display: flex;
  flex-direction: row;
}

.task-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 1px 1px 3px var(--color-blue-middle);
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.task-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgba(233, 233, 233, 0.692);
  padding-bottom: 20px;
}

.taskrowmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
}

.dropdown-menu {
  border-radius:10px;
  padding: 0.5rem;
  margin: 0 0 0 1rem;
  height: 1.5rem;
  border-style: 1px solid;
  border-color: var(--color-blue);
  border-radius: 0.5rem;
  width: 15%;
  max-width: 15%;
  display: flex;
}
