/*new, edit list*/
#container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#new-list-wrapper {
  flex-grow: 1;
  background-color: #fff;
  padding: 0 2rem 2rem 2rem;
}

#new-list-wrapper > div {
  margin: 2rem 0;
}
.new-list-heading {
  font-weight: 700;
  margin-top: 0;
  font-size: 100%;
}

.radio-buttons {
  color: rgb(91, 224, 58);
  outline-color: var(--color-blue);
  background-color: white;
}

.text-fieldz {
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 10px;
  width: 40%;
  max-width: 40%;
  height: 1.5rem;
  padding: 2px 15px;
  color: var(--color-blue-middle);
  margin: 0.5rem 0 0 0;
}

.pgrey {
  color: var(--color-blue-middle);
  font-size: 90%;
}

.members-div {
  display: flex;
  flex-direction: row;
}

.task-div {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0px 0px 6px #d0d6e2;
  border-radius: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.task-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgba(233, 233, 233, 0.692);
  padding-bottom: 20px;
}

.taskrowmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0.2rem 0.5rem 0.2rem;
}

.dropdown-div {
  width: 33%;
}

.dropdown-div input,
.dropdown-div select {
  margin-left: 0.3rem;
  border-radius: 100px;
  border: 1.2px solid var(--color-blue-middle);
  padding: 0.2rem 0.6rem;
  width: 11rem;
  box-sizing: border-box;
}

.dropdown-div input:focus,
.dropdown-div select:focus {
  border-color: var(--color-green);
}

.add-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  color: var(--color-green);
  align-items: center;
}

.add-button img {
  margin: 0 0.5rem 0 0.8rem;
  width: 1.8rem;
}

#tasks-container .add-button {
  width: 100%;
  box-shadow: 0px 0px 6px #d0d6e2;
  padding: 0.5rem 0;
  background-color: white;
  border: none;
}

.buttonrow #saveList,
.buttonrow #cancelList {
  margin: 0 0.3rem;
}

.delete-icon-red {
  width: 1.8rem;
  margin-left: 0.8rem;
}
