.wrapperprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 92.5vh;
  width: 100%;
}

#profileimg {
  width: 18%;
  padding: 0rem 1rem 3rem 1rem;
}

.textwrap {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem 2.5rem 1rem;
  border: none;
}

.buttoncol {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
}

.buttoncol button,
.wrapperprofile button {
  margin: 0.2rem;
}

.profile-email {
  margin: 0 0 2rem 0;
}
