header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.7rem;
}

#show-lists-wrapper {
  padding: 0 0.8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.green {
  color: var(--color-green);
  font-style: normal;
}

#pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 120%;
  margin: 0;
}

#pageTitle > img {
  margin: 0 0.7rem 0 0;
  height: 2.5rem;
}

#addList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#addList > img {
  width: 0.8rem;
}

.list-wrapper {
  background-color: var(--color-blue-light);
  border-radius: 0.2rem;
  width: 22.2%;
  height: auto;
  margin: 0 1.4% 2.8% 1.4%;
  -webkit-margin-collapse: separate;
  border-top: 8px solid var(--color-green);
}

.edit {
  background: #fff;
  padding: 1rem;
  width: 100%;
  height: auto;
  border: none;
  color: var(--color-green);
}

.list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0 0 0;
  padding: 0.9rem 1rem;
  background-color: #f9f9f9;
}

.list-div:first-of-type {
  background-color: transparent;
  font-weight: 600;
  font-size: 150%;
  padding: 1.2rem 1rem;
  margin: 0;
}

.list-div:last-of-type {
  margin-bottom: 0;
}

.list-div img {
  height: 1.3rem;
}

.delete-button {
  height: 1.6rem !important;
}

.viewList {
  cursor: pointer;
  background: #fff;
}

.viewList:hover {
  background: #f9f9f9;
}

.edit:hover {
  cursor: pointer;
  background: #e7f2e1;
}

.radio-group > p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.overdue {
  background-color: var(--color-red-light) !important;
}
