@import url("showlist.css");
@import url("login.css");
@import url("profile.css");
@import url("newlist.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --color-blue: #17254a;
  --color-blue-middle: #8f9bb3;
  --color-blue-light: #f0f4fa;
  --color-green: #91db00;
  --color-green-dark: #82c205;
  --color-red: #e03f3f;
}

* {
  font-family: "Montserrat", "Calibri-Light", sans-serif;
}

body {
  background-color: var(--color-blue-light);
  font-size: 85%;
  color: var(--color-blue);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*buttons*/
button:focus,
input:focus,
select:focus {
  outline: none;
}

button {
  font-size: 100%;
  cursor: pointer;
}

.button-green {
  background-color: var(--color-green);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: white;
}

.button-green:active {
  background-color: var(--color-green-dark);
}

.button-blue {
  background-color: var(--color-blue);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: white;
}

.button-grey {
  background-color: var(--color-blue-middle);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: white;
}

.button-red {
  background-color: var(--color-red);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: white;
}

input::placeholder {
  color: var(--color-blue-middle);
}

.text-field {
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: var(--color-blue-dark);
  margin: 0.5rem 0 0 0;
}

.text-field-50 {
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  width: 50%;
  font-size: 100%;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: var(--color-blue-dark);
  margin: 0.5rem 0 0 0;
}

input:focus {
  outline: none;
}

/*Task finished, unfinished*/
.unchecked {
  background-image: url("../images/checkbox_unchecked.svg");
  background-size: contain;
  height: 1.3rem;
  width: 1.3rem;
}

.checked {
  background-image: url("../images/checkbox_checked.svg");
  background-size: contain;
  height: 1.4rem;
  width: 1.4rem;
}

.hidden {
  display: none;
}
