@import url("showlist.css");
@import url("viewlist.css");
@import url("login.css");
@import url("profile.css");
@import url("newlist.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --color-blue: #17254a;
  --color-blue-middle: #8f9bb3;
  --color-blue-light: #f0f4fa;
  --color-green: #91db00;
  --color-green-dark: #82c205;
  --color-red: #e03f3f;
}

* {
  font-family: "Montserrat", "Calibri-Light", sans-serif;
}

body {
  background-color: var(--color-blue-light);
  font-size: 85%;
  color: var(--color-blue);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*menu*/

my-menu {
  position: sticky;
  top: 0;
}

#menuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-blue-middle);
  text-transform: uppercase;
  height: 8vh;
  box-shadow: 0px 0px 6px #5a6782;
}

#menuWrapper > img {
  height: 1.3rem;
  margin: 0 2rem 0 auto;
}

.menuItem {
  margin: 0 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.menuItem > img {
  height: 0.8rem;
  margin-right: 0.4rem;
}

.menuItem > p {
  display: inline;
}

/*buttons*/
button:focus,
input:focus,
select:focus {
  outline: none;
}

button {
  font-size: 100%;
  cursor: pointer;
}

.button-green {
  background-color: var(--color-green);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem;
  color: white;
}

.button-green:active {
  background-color: var(--color-green-dark);
}

.button-blue {
  background-color: var(--color-blue);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem;
  color: white;
}

.button-grey {
  background-color: var(--color-blue-middle);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem;
  color: white;
}

.button-red {
  background-color: var(--color-red);
  border: none;
  border-radius: 100px;
  width: 13rem;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: white;
}

.buttonrow {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 0 0;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: var(--color-blue-middle);
}

.text-field {
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: var(--color-blue-dark);
  margin: 0.5rem 0 0 0;
}

.text-field-50 {
  background-color: var(--color-blue-light);
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  width: 50%;
  font-size: 100%;
  padding: 0.5rem 0.7rem 0.5rem 0.9rem;
  color: var(--color-blue-dark);
  margin: 0.5rem 0 0 0;
}

input:focus {
  outline: none;
}

.hidden {
  display: none;
}

/*radio buttons*/

input[type="radio"] {
  -webkit-appearance: none;
  background-image: url(../images/checkbox_unchecked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  margin: 0.2rem 0.6rem 0.2rem 0;
}

input[type="radio"]:checked {
  background-image: url(../images/checkbox_checked.svg);
}

.no-visibility {
  visibility: hidden;
}

#errormsg {
  margin: 0 0 1rem 0;
  text-align: center;
  color: var(--color-red);
}

@media screen and (max-width: 1130px) {
  .list-wrapper {
    width: 30.5%;
  }

  .taskrowmenu {
    flex-direction: column;
  }

  .dropdown-div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3rem 0;
  }

  .registerwrapper {
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  .list-wrapper {
    width: 47.2%;
  }

  .textwrap,
  .registerwrapper {
    width: 90%;
  }

  .text-field-50 {
    width: 100%;
  }

  .dropdown-div {
    width: 100%;
  }

  .menuItem img {
    display: none;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .boxLeft {
    width: 100%;
    height: 94vh;
  }
  .boxRight {
    width: 100%;
    height: 6vh;
  }
  #plannerimg {
    height: 3.5vh;
  }
  .filterBar {
    flex-direction: column;
    height: auto;
  }
  .filter-dropdown {
    margin: 0.2rem 0;
  }

  .viewList-task {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 0;
  }

  .viewList-task > .row:first-of-type {
    padding: 0.8rem 0 0.8rem 2vw;
    width: 100%;
    border-bottom: 1.1px solid var(--color-blue-light);
  }

  .attributes {
    width: 100%;
    height: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .menuItem p {
    display: none;
  }

  .menuItem img {
    display: block;
    height: 1rem;
  }

  #menuWrapper > img {
    display: none;
  }

  #menuWrapper {
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  header {
    flex-direction: column;
    margin: 0;
  }

  #addList {
    margin-bottom: 1rem;
  }

  #pageTitle {
    margin: 1rem 0;
  }

  .attributes {
    flex-direction: column;
    height: auto;
  }

  .attr {
    width: 100%;
    border-right: none;
    border-top: 1.1px solid var(--color-blue-light);
    padding: 0.9rem 2vw;
    box-sizing: border-box;
  }

  .viewList-task > .row:first-of-type {
    padding: 0.8rem 0 0.8rem 4vw;
  }

  .vl-task-title {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 440px) {
  .list-wrapper {
    width: 100%;
  }

  .dropdown-div {
    display: flex;
    flex-direction: column;
  }

  .dropdown-div input,
  .dropdown-div select {
    margin: 0.3rem 0 0 0;
  }

  .buttonrow {
    flex-direction: column;
  }

  .buttonrow button {
    margin-top: 0.4rem !important;
  }

  .filterBar {
    height: auto;
  }

  .filter-dropdown .row {
    margin: 0 0 0.6rem 0;
  }

  .filter-dropdown {
    flex-direction: column;
  }
}
